.gridSquare{
    width:200px;
    height:200px;
    background-color: black;
    opacity: 0%;
}


body{
    background-color: black;
}

#divContainer
{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    width: 800px;
    height: 800px;
    margin:auto;
    margin-top: 1.5%;
    border:10px;
    border-style: solid;
    border-color: rgb(159, 177, 159);
    background-color: white;
    

}